body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}
#textAreaText{
    background-color: var(--background-color);
    color: var(--text-color);
    border-color: var(--border-color);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.dark-mode {
    --background-color: #000000;
    --text-color: #fff;
}
.dark-mode-input{
    --background-color: #000000;
    --text-color: #fff;
    --border-color: #fff;
}
.light-mode {
    --background-color: #fff;
    --text-color: #000000;
}



/* Estilo padrão do botão switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Estilize a parte deslizante do botão */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  /* Estilize a parte deslizante quando estiver ligado */
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  /* Estilos para o dark mode */
  .dark-mode {
    background-color: #000000;
    color: #fff;
  }
  
  /* Estilo para a text area no dark mode */
  .dark-mode-input {
    background-color: #000000;
    color: #fff;
  }

  /* area de animação das palavras*/
  #textAnimation {

    padding: 5px;
    white-space: pre-line; /* Permite a quebra de linha */
  }
  
  .typing {
    animation: typing 1s steps(30, end);
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
  }
  
  button {
    border: none;
    background-color: #f0f0f0;
    padding: 5px 10px;
    cursor: pointer;
  }

/* Estilos adicionais para melhor visualização */
h1, textarea, button {
  margin: 10px;
}

  